<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<title>{% block title %}{% endblock %}</title>
		<link href="/main.css" rel="stylesheet" />
		{% block head %}{% endblock %}
	</head>
	<body>
		<nav id="main-nav">
			<span id="brand">spock</span>
			<ul>
				<li><a class="nav-link" href="/">{{ auth.lang("web.nav.meta") }}</a></li>
				<li><a class="nav-link" href="/lint">{{ auth.lang("web.nav.linter") }}</a></li>
			</ul>
			<span id="login-nav">
				{% if auth.0.is_some() -%}
				{{ auth.lang("web.auth.loginas") }} <a href="/user">{{ auth.0.as_ref().unwrap().name }}</a> | <a href="/auth/logout">{{ auth.lang("web.auth.logout") }}</a>
				{%- else -%}
				<a href="/auth">{{ auth.lang("web.auth.login") }}</a>
				{%- endif %}
			</span>
		</nav>
		{% block body %}{% endblock %}
	</body>
</html>
