{% extends "includes/base.html" %}
{% block title %}{{ auth.lang("web.auth.login-success.page-title") }} - spock{% endblock %}
{% block body %}
<main id="login-success">
	<h1>{{ auth.lang("web.auth.login-success.title") }}</h1>
	<p>{{ auth.lang("web.auth.login-success.message") }} <a href="/user">{{ auth.0.as_ref().unwrap().name }}</a>.</p>
</main>
{% endblock %}