{% extends "includes/base.html" %}
{% block title %}{{ title }} - spock{% endblock %}
{% block body %}
<main id="message">
	<h1>{{ title }}</h1>
	<p>{{ message }}</p>
	{% if auto_return -%}
	<p id="auto-redirect-message" data-text='{{ auth.lang("web.message.auto-redirect") }}'></p>
	<script src="/message-auto-return.js"></script>
	{%- endif %}
</main>
{% endblock %}